# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Angular build
frontend/dist/
frontend/.angular/

# environment secrets
.env
backend/.env
frontend/.env

# logs
*.log
npm-debug.log*

# editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
